.Cabecalho{
  background: var(--black);
  color: var(--white);
  padding: 1rem;
  position: sticky;
  z-index: 999;
  top: 0;
}

.Cabecalho_container{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.flex{
  display: flex;
  gap: 2rem;
}

.logo{
  font-weight: bold;
  font-size: 30px;
}

@media screen and (max-width:1024px){
  .Cabecalho nav{
    display:  none;
  }
  .Cabecalho_container{
    flex-direction: column;
    gap: .5rem 0;
  }
} 
