.Cabecalho{
  background: var(--black);
  color: var(--white);
  position: relative;
  padding: 0 1rem;
}

.Cabecalho_container{
  height: 65px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.flex{
  display: flex;
  gap: 2rem;
}

@media screen and (max-width:1024px){
  .Cabecalho{
    display:  none;
  }
}