.habilidades{
  padding:3rem;
  background:#353535 ;
}
.habilidades h1{
  margin-bottom: 2rem;
  color:var(--cor-primaria);
}
.habilidades h2,.habilidades p{
  color:var(--cor-branca);
}
.habilidades h2{
  font-size: 1.2rem;
}
.cards{
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 2rem;
}

.card_imagem{
  width: 70px;
  height: 70px;
}
.card{
  width: 30%;
  height: 250px;
  box-shadow: 1px 1px 5px var(--cor-primaria);
  filter: brightness(.8);
  background: #222222;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 1rem;
}

@media(max-width:950px){
  .habilidades{
    padding: 1rem;
  }
  .card{
    width: 350px;
  }
}
