.sobre{
  width: 100%;
  justify-content: space-evenly;
  flex-wrap: wrap;
  color: white;
  background: #1b1b1b9d;
  padding: 1rem;
}
.sobre_imagem img{
  width: 400px;
}
.sobre_informações{
  width: 40%;
  flex-direction: column;
  justify-content: center;

}
.sobre_informações h1{
  color: var(--cor-primaria);
}
.sobre_informações p{
  line-height: 1.5rem;
  margin: .5rem 0;
}
.sobre_informações p strong{
  color: var(--cor-primaria);
}
.redes_sociais{
   justify-content: space-around;
}
.redes_sociais a{
  text-decoration: none;
  color: black;
  background: white;
  padding: .5rem 2rem;
}

.redes_sociais a:hover{
  filter: brightness(.8);
  background: var(--cor-primaria);
  color: var(--cor-branca);
}

@media(max-width:768px){
  .sobre_imagem img{
    width: 100%;
  }
  .sobre_informações{
    width: 100%;
    
  }
  
}