@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
@import './cabecalho.css';
@import './superior.css';
@import './habilidades.css';
@import './sobre.css';

:root{
  --cor-de-fundo: #272727;
  --cor-primaria:#F27D11;
  --cor-branca:#f3f3f3;
  --fonte-pagina:'Roboto';

}

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body{
  background: var(--cor-de-fundo);
  font-family: var(--fonte-pagina);
}
body::-webkit-scrollbar {
  width: 8px;          
}

body::-webkit-scrollbar-thumb {
  background-color: var(--cor-primaria);   

}
main{
  box-shadow: 3px 3px 8px rgba(0, 0, 0, .2);
  max-width: 1200px;
  margin: 0 auto;
}

.flex{
  display: flex;
}



