/* Parte superior do Portifolio */

.parte_superior {
  justify-content: space-around;
  align-items: center;
  height: 80vh;
  width: 100%;
  padding: 1rem 3rem ;
  position: relative;

}

.parte_superior img {
  position: relative;
  width: 500px;
  animation: flutuar infinite 2s ease-in-out alternate;
}
.texto_animado h1 {
  width: 90%;
  margin-bottom: 20%;
}
.texto_animado,.texto_animado h1 {
  font-size: 36px;
  width: 95%;
  font-weight: 300;
  color: var(--cor-branca);
}

.texto_animado h1::after {
  content: '|';
  animation: cursor .8s infinite;
  opacity: 1;
}
.texto_animado button {
  background: transparent;
  border: 1px solid var(--cor-primaria);
  padding: 0.5rem 3rem;
  border-radius: 20px;
  color: var(--cor-branca);
  cursor: pointer;
  display: inline-block;
  font-size: 1.1rem;

}

@keyframes flutuar {
  0% {
    top: 0;
  }
  100% {
    top: 40px;
  }
}
@keyframes cursor {
  0%,100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

@media(min-width:1400px) {
  .parte_superior {
    height: 60vh;
  }
}

@media (max-width:950px) {
  .parte_superior {
    flex-direction: column;
    flex-direction: column-reverse;
    padding: 0 1rem;
    height: calc(90vh - 60px);
    justify-content: space-around;

  }
  .parte_superior img {
    width: 100%;
  }
  .texto_animado,.texto_animado h1 {
    font-size: 24px;
  }
}