.CardsLivro{
  gap: 2rem;
  flex-wrap: wrap;
  justify-content : center;
  padding: 1rem;
  height: 600px;
  overflow-y: scroll;
  margin: 1rem auto;
  width: 90%;
}

.CardsLivro::-webkit-scrollbar {
  width: 8px;          
}

.CardsLivro::-webkit-scrollbar-thumb {
  background-color: blue;   
}
