.Cabecalho{
  color: white;
  height: 65px;
  background: rgb(34, 34, 182);
  padding: 0 2rem;
  align-items: center;
  justify-content: space-around;
  position: sticky;
  top: 0;
  z-index: 99999;
}