.Cabecalho {
  color: white;
  height: 65px;
  background: rgb(34, 34, 182);
  padding: 0 3rem;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 99999;
}

.Cabecalho_Nav {
  gap: 3rem;
  align-items: center;
}

.Cabecalho_Nav a{
  border-radius:16px;
  padding: .5rem 2rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.Cabecalho_Nav a:nth-child(1){
  border: 1px solid white;
}

.Cabecalho_Nav a:nth-child(2){
  background: white;
  color: black;
  font-weight: 700;
}

.Cabecalho_Nav a:nth-child(1):hover,.Cabecalho_Nav a:nth-child(2):hover{
  color: white;
  background: rgb(34, 34, 182);
  filter: brightness(.8);
}


.btn_Menu{
  display: none;
  
}

@media(max-width:768px){
 
  
  .Cabecalho_Nav{
    display: none;
  }
  .Cabecalho_Nav a{
    width: 80%;
    justify-content: center;
  }

  .Cabecalho_Nav a:nth-child(2):hover{
    background: white;
    color: black;
  }
  .Cabecalho_NavMobile,.btn_Menu{
    display: block;
  }

  .btn_Menu button{
    cursor: pointer;
    border: none;
    background: none;
  }
  .Cabecalho_NavMobile{
    display: flex;
    flex-direction: column;
    gap: 2rem;

    position: absolute;
    top: 100%;
    right: 0;
    padding-top: 2rem;
    background: rgb(28, 28, 145);
    width: 80vw;
    height: calc(100vh - 65px);
  }
}