.Cabecalho {
  color: white;
  height: 65px;
  background: rgb(34, 34, 182);
  padding: 0 3rem;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 99999;
}

.Cabecalho_Nav {
  gap: 3rem;
  align-items: center;
}

.Cabecalho_Nav a:nth-child(1),
.Cabecalho_Nav a:nth-child(2) {
  padding: .5rem 2rem;
  border-radius: 20px;
  transition: .4s ease-in-out;
}

.Cabecalho_Nav a:nth-child(1) {
  align-items: center;
  gap: .5rem;
  border: 1px solid white;
  border-radius: 20px;

}

.Cabecalho_Nav a:nth-child(2) {
  background: white;
  font-weight: 600;
  color: black;
}

.Cabecalho_Nav a:hover{
  opacity: 0.8;
  background: rgba(0, 0, 0, 0.7);
  color: white;

}

.NavMobile_Fechada,
.btn_Menu {
  display: none;
}

@media (max-width:950px) {
  .Cabecalho_Nav {
    display: none
  }

  .btn_Menu {
    display: block;
  }
  .btn_Menu button{
    background: transparent;
    border: none;
  }
  .NavMobile{
    display: block;
    top: 100%;
    position: absolute;
    background: blue;
    right: 0;
    width: 80%;
    height: 100vh;
  }


}