.Banner{
  width: 85%;
  border-radius: 0 10px 0 10px;
  gap: 2rem;
  margin: 0 auto;
  border-bottom:1px solid gray;
  border-top:1px solid gray;
  padding: 2rem;
  margin-bottom: 1rem;
}
.Banner div {
  width: 50%;
}
.Banner_img{
  width: 100%;
}
.Banner h1{
  font-size: 1.5rem;
}
.Banner h1, .Banner p{
  margin:5% 0;
}
.Banner p{
  line-height: 1.5rem;
  width: 90%;
}

.Banner div a{
 background: #2222B6;
 padding: .5rem 2rem;
 display: inline-block;
}

@media (max-width:1064px){
  
  .Banner p ,.Banner h1 {
    line-height: 1.5rem;
    width: 100%;
  }
  .Banner div a{
    margin-bottom: 1rem;
   }
}


@media (max-width:950px){
  .Banner{
    width: 100%;
    flex-direction: column-reverse;
    height: auto;
    padding: 0;
    border-radius: 10px 0 10px 0;
    align-items: center;
  }
  .Banner div {
    width: 80%;
  }
  .Banner_img{
    width: 550px;
    margin: 0 auto;
    display: block;
  }
}


@media (max-width:650px){
  .Banner div{
    width: 90%;
    margin: 0 auto;
  }
  .Banner_img{
    width: 100%;
  }
}


